/* Para notebooks */
@media (min-width: 700px) and (max-width: 1440px) {

    .h11 {
        font-size: 2.5rem;
        font-family: "Kantumruy Pro", sans-serif;  
        font-weight: 550;    
    }

    .title {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .h12{
        color: #626262;
    }

    .auth-button.google {
        background-color: #db4437;
        height: 50px;
    }

    .login-form label {
        font-weight: 650;
        font-size: 0.95rem;
    }

    .box {
        height: 36px;
        border-radius: 45px;
        width: 386px;
        margin-top: 2px;
        margin-bottom: 15px;
        padding: 10px;
        border: 1.4px solid #65B741;
    }

    .links {
        text-decoration: solid;
    }

    .sideButtons{
        font-size: 14px;
        text-align: center;
        margin-left: 32px;
    }

    .p1{
        margin-top: 10px;
    }

    .login-form{
        margin-left: 32px;
    }

    .auth-button {
        background-color: #49A010;
        border: none;
        height: 34px;
        border-radius: 45px;
        width: 386px;
        color: white;
        cursor: pointer;
        font-size: 0.85rem;
        margin-bottom: 15px;
        margin-top: 10px;
        font-weight: 500;
    }

    /* .auth-button-google{
        background-color: white;
        padding: 10px;
        border: none;
        height: 36px;
        border-radius: 45px;
        width: 240px;
        color: black;
        font-size: 1rem;
        cursor: pointer;
        border: 1px solid black;
        font-size: 16px;
        margin-bottom: 15px;
        font-weight: 450;
    } */

    .main{
        margin-top: 60px;   
        display: flex;
        align-items: center;
        flex-direction: column;
    }

}
  
  /* Para desktops */
  @media (min-width: 1440px) and (max-width: 1920px) {
    .h11 {
        font-size: 3rem;
        font-family: "Kantumruy Pro", sans-serif;  
        font-weight: 550;    
    }

    .title {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .h12{
        color: #626262;
    }

    .auth-button.google {
        background-color: #db4437;
        height: 50px;
    }

    .login-form label {
        font-weight: 650;
        font-size: 1rem;
    }

    .box {
        height: 34px;
        border-radius: 45px;
        width: 458px;
        margin-top: 2px;
        margin-bottom: 15px;
        padding: 10px;
        border: 1.4px solid #65B741;
    }

    .links {
        text-decoration: solid;
    }

    .sideButtons{
        font-size: 0.9rem;
        text-align: center;
        margin-left: 32px;
    }

    .p1{
        margin-top: 10px;
    }

    .login-form{
        margin-left: 32px;
    }

    .auth-button {
        background-color: #49A010;
        border: none;
        height: 34px;
        border-radius: 45px;
        width: 458px;
        color: white;
        cursor: pointer;
        font-size: 0.9rem;
        margin-bottom: 15px;
        margin-top: 10px;
        font-weight: 500;
    }

    /* .auth-button-google{
        background-color: white;
        padding: 10px;
        border: none;
        height: 36px;
        border-radius: 45px;
        width: 240px;
        color: black;
        font-size: 1rem;
        cursor: pointer;
        border: 1px solid black;
        font-size: 16px;
        margin-bottom: 15px;
        font-weight: 450;
    } */

    .main{
        margin-top: 60px;   
        display: flex;
        align-items: center;
        flex-direction: column;
    }
  }
  
  /* Para telas grandes */
  @media (min-width: 1920px) {
    .h11 {
        font-size: 3.3rem;
        font-family: "Kantumruy Pro", sans-serif;  
        font-weight: 550;    
    }

    .title {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .h12{
        color: #626262;
    }

    .auth-button.google {
        background-color: #db4437;
        height: 50px;
    }

    .login-form label {
        font-weight: 650;
        font-size: 0.95rem;
    }

    .box {
        height: 40px;
        border-radius: 45px;
        width: 520px;
        margin-top: 4px;
        margin-bottom: 15px;
        padding: 10px;
        border: 1.4px solid #65B741;
    }

    .links {
        text-decoration: solid;
    }

    .sideButtons{
        font-size: 1rem;
        text-align: center;
        margin-left: 50px;
    }

    .p1{
        margin-top: 10px;
    }

    .login-form{
        margin-left: 50px;
    }

    .auth-button {
        background-color: #49A010;
        border: none;
        height: 40px;
        border-radius: 45px;
        width: 520px;
        color: white;
        cursor: pointer;
        font-size: 1rem;
        margin-bottom: 15px;
        margin-top: 10px;
        font-weight: 500;
    }

    /* .auth-button-google{
        background-color: white;
        padding: 10px;
        border: none;
        height: 36px;
        border-radius: 45px;
        width: 240px;
        color: black;
        font-size: 1rem;
        cursor: pointer;
        border: 1px solid black;
        font-size: 16px;
        margin-bottom: 15px;
        font-weight: 450;
    } */

    .main{
        margin-top: 120px;   
        display: flex;
        align-items: center;
        flex-direction: column;
    }
  }
  