.main {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #fbeec1; /* tom claro amarelado */
    padding: 1rem;
    background-color: transparent; /* fundo preto */
    width: 100%;
    max-width: 800px;
    margin: 0 auto;
  }
  
  .span {
    color: white;
    font-size: 1rem;
  }
  
  .selected {
    padding: 0.5rem 1rem;
    border: 1px solid #ccc;
    border-radius: 4px;
    background-color: white;
    color: black;
    font-size: 0.9rem;
    cursor: pointer;
  }
  